@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@500&display=swap');

:root {
    --primary: #008ECC;
    --text: #666;
    --border: #EDEDED;
    --backgorund-1: #F5F5F5;
    --h-eading:#222;
}
.text-gray{
    color: #CECECE;
}

body {
    font-family: inter;
    background: #E1E1E1;
}



.card-body {
    border-radius: 0px 0px 15px 15px;
    padding: 12px;
    /* height: 96px; */
}

.card-body .card_title {
    color: var(--h-eading);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 10px;
    /* 112.5% */
}

.card-body .card_price {
    color: var(--h-eading, #222);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 112.5% */
}

.card .img_container{
   height: 188px;
   overflow: hidden;
}
.card .overlay{
    background-color: rgba(0, 0, 0, 0.379);
    width: 100%;
    height: 100%;
    bottom: -200px;
    border-radius: 7px 7px 0px 0px;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .img_container:hover .overlay{
    bottom: 0;
}

@media screen and (min-width:1100px) {
    .col-lg-3 {
        width: 227px;
        min-height: 284px;
        flex-shrink: 0;
        /* background-color: #008ECC; */
    }

}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
    .container {
     margin: auto 0 !important;
     width: 100%;
    }

}
@media screen and (max-width:1000px) and (min-width:792px){
    .mx-common{
        margin: 0 5% !important;
    }
    .d-sm-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .d-sm-flex .card_title{
        margin-bottom: 0px;
        font-size: 16px;
    }
    .col-md-3{
        width: 30%;
    }
}

@media screen and (max-width:792px) and (min-width:576px){

    .col-md-3{
        width: 40%;
    }
}

@media screen and (max-width:485px) {

    .nav .logo_text{
       width: 22px !important;
       height: 29px !important;
       font-size: 20px !important;
    }
    .nav .logo_text + img{
        width: 86px;
    }
}