.cart-btn{
    display: flex;
width: 130px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}
button.btn.btn-primary{
    border-radius: 6px !important;
    background-color: #FFC915 !important;
    color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
padding: 10px !important;
width: 130px;
border: none;
}
button.btn.btn-primary:focus{
color: #000;
}